header {
  display: none;
  user-select: none;
}
header .logo {
  width: auto;
  height: 30px;
  cursor: pointer;
}
@media screen and (min-width: 1024px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

    position: fixed;
    top: 0;
    left: 50%;

    transform: translateX(-50%);

    width: 100%;
    max-width: 1200px;

    z-index: 99;

    transition: top 0.7s ease;
  }
  header.hidden {
    top: -100px;
    transition: top 0.7s ease;
  }
}
